@use '@/styles/settings/color' as *;
@use '@/styles/settings/function' as *;

.table {
  width: 100%;
}

.th {
  border-bottom: 1px solid $gray-light;
  font-size: rem(14px);
  padding: 12px 24px;
}

.td {
  padding: 24px;
}

.tr:not(:last-child) {
  .td {
    border-bottom: 1px solid $gray-light;
  }
}
