@use '@/styles/settings/color' as *;
@use '@/styles/settings/function' as *;

.label-wrap {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.label-text {
  color: $secondary;
  display: block;
  font-size: rem(14px);
  padding: 10px;
  width: 100%;
}

.input {
  border-bottom: 2px solid $gray-very-light;
  padding: 10px;
  width: 100%;

  &::placeholder {
    color: $gray;
  }

  &:focus {
    border-bottom: 2px solid $blue-light;
  }
}
