@use '@/styles/settings/color' as *;
@use '@/styles/settings/function' as *;

.wrap {
  width: 100%;
}

.file-wrap {
  align-items: center;
  background-color: #f5f6f7;
  border: 1px solid #c5c6c8;
  border-radius: 4px;
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
  padding: 24px;
  width: 100%;
}

.text {
  font-size: rem(14px);
}

.note {
  font-size: rem(12px);
  margin-top: 12px;
}

.input-file {
  display: none;
}

.file-button {
  border: solid 1px gray;
  font-size: rem(14px);
  padding: 2px 6px;
}
