.-x-small {
  font-size: 0.75rem;
}

.-small {
  font-size: 0.85rem;
}

.-normal {
  font-size: 1rem;
}

.-medium {
  font-size: 1.15rem;
}

.-large {
  font-size: 1.25rem;
}

/* button-size */
.-button-small {
  font-size: 0.875rem;
}

.-button-medium {
  font-size: 1rem;
}

.-button-large {
  font-size: 1.125rem;
}
