@use '@/styles/settings/color' as *;
@use '@/styles/settings/function' as *;

.side-bar {
  background-color: $primary;
  color: $white;
  display: flex;
  height: calc(100vh - 70px);
  overflow: scroll;
  position: relative;
  top: 70px;
  width: 15%;
}

.nav-wrap {
  width: 100%;
}

.nav-link {
  display: block;
  font-size: rem(18px);
  padding: 1em;
}

.active-text {
  background-color: $secondary;
  display: block;
  font-size: rem(18px);
  padding: 1em;
}
