@use '@/styles/settings/color' as *;
@use '@/styles/settings/function' as *;

.paginetion-wrap {
  align-items: center;
  display: flex;
  margin-left: auto;
}

.paginetion-item {
  padding: 10px;
}

.text {
  display: inline-block;
  font-size: rem(14px);
}
